.app {
  color: white;
  width: 100%;

}


.container-1 {
  background-color: rgb(11, 14, 59);
  width: 100%;

}

.nav {
  background-color: rgb(11, 14, 59);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
}

.App-header {
  color: white; 
  padding: 2rem;
}

.hero {
  font-size: 3em;
}

button {
  background-color: white;
  width: 100px;
  height: 50px;
  color:  rgb(11, 14, 59);
  border-radius: 12%;
}

.card {
  width: 20%;
}
.card img {
  height: 60px;
  width: auto;
}

.card h3 {
  font-size: 15px;
  text-align: left;
}

.card p {
  font-size: 10px;
  text-align: left;
}

.card-container {

  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: left;
}










